{% load static %}
<html>
    </head>
        <title>{% block title %}Numenera{% endblock %}: {% block subtitle %}Page{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="{% static 'cyphercore/css/normalize.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'cyphercore/css/skeleton.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'cyphercore/css/shared.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'numenera/css/custom.css' %}" />
        <link rel="icon" type="image/png" href="{% static 'numenera/images/favicon.png' %}" />
        <style>{% block pagestyles %}{% endblock %}</style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
