{% extends "numenera/base.html" %}
{% block subtitle %}{{ focus.name }}{% endblock %}
{% block content %}
    <span class="breadcrumbs"><a href="../../">Index</a> | <a href="../">Focus List</a> | {{ focus.name }}</span>
    <h1>Focus: {{ focus.name }}</h1>
    {{ focus.description|linebreaks }}
    <hr/>

    <h2>Connections</h2>
    <div class="indent">{{ focus.connections|linebreaks }}</div>
    <hr/>

    <h2>Other Details</h2>
    <div class="indent">{{ focus.other_details|linebreaks }}</div>
    <hr/>

    <h2>Abilities</h2>
    {% for item in focus.focusability_set.all %}
        <h3>Tier {{ item.tier }}:
        {{ item.ability.name }}
        ({{ item.ability.usage }};
        Cost: {{ item.ability.cost }})</h3>
        <div class="indent">{{ item.ability.description|linebreaks }}</div>
    {% endfor %}
    <hr />
    <span class="breadcrumbs"><a href="../../">Index</a> | <a href="../">Focus List</a> | {{ focus.name }}</span>
{% endblock %}
