@import url('https://fonts.googleapis.com/css?family=Bitter');
body {
    font-size: 1.5em;
    line-height: 1.5;
    margin-top: 3rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #3399ff;
    font-family: 'Bitter', sans-serif;
    font-variant: small-caps;
    font-weight: bold;
}

h1 {
    font-size: 2.5rem;
    line-height: 1;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

h2 {
    font-size: 1.8rem;
    line-height: 1;
    margin-bottom: .8rem;
}

h3 {
    font-size: 1.6rem;
    line-height: 1;
    margin-bottom: .3rem;
    margin-top: 1rem;
}

h4 {
    font-size: 1.6rem;
    line-height: 1;
}

h5 {
    font-size: 1.6rem;
    line-height: 1;
}

h6 {
    font-size: 1.6rem;
    line-height: 1;
}

a {
    color: #666;
}

a:hover {
    color: #aaa;
}

br {
    margin: 1.8rem;
}

hr {
    border-top: 1px solid #ccc;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
}

ul {
    padding-left: 2rem;
}

.breadcrumbs {
    font-size: 1.5rem;
    font-variant: small-caps;
}

.character-background {
    padding-right: 5%;
}

.character-portrait {
    border: solid 2px #000;
    border-radius: 4px;
    display: block;
    float: left;
    margin-right: 2.5rem;
    margin-top: .2rem;
    max-height: 30rem;
    max-width: 30rem;
}

.character-sentence {
    margin-top: -1rem;
}

.indent {
    padding: 0 5%;
}

.inability {
    font-style: italic;
}

.breakbefore {
    page-break-before: always;
}

.breakafter {
    page-break-after: always;
}

.highlighted {
    color: #fff;
    background-color: #c51313;
}

.row-odd {
    background-color: #eee;
}

.bubble-item {
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 3px;
    line-height: 3rem;
    margin: 0 .5rem;
    padding: .2rem 1.5rem;
    white-space: nowrap;
}

.skill-i {
    font-style: italic;
}

.skill-t {
}

.skill-s {
    font-weight: bold;
}

.strikethrough {
    text-decoration: line-through;
}

@media print {
    body {
        margin: 0;
        padding: 0;
    }
    .avoid-break {
        page-break-inside: avoid;
    }
    .breadcrumbs {
        display: none;
    }
    .character-recursion {
        page-break-before: always;
    }
    .compact {
        font-size: smaller;
    }
    .container {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .no-print {
        display: none;
    }
}

@media screen {
    .container {
        margin-bottom: 2em;
    }
}
