{% extends "cyphercore/base.html" %}
{% block subtitle %}{{ artifact.name }}{% endblock %}
{% block content %}
    <span class="breadcrumbs"><a href="../../">Index</a> | <a href="../">Artifact List</a> | {{ artifact.name }}</span>
    <h1>Artifact: {{ artifact.name }}</h1>
    <h2>Level Range: {{ artifact.level_range }}</h2>
    <div>{{ artifact.form|linebreaks }}</div>
    <div>{{ artifact.effect|linebreaks }}</div>
    <hr />
    <span class="breadcrumbs"><a href="../../">Index</a> | <a href="../">Artifact List</a> | {{ artifact.name }}</span>
{% endblock %}
