{% extends "cyphercore/base.html" %}
{% block subtitle %}{{ cypher.name }}{% endblock %}
{% block content %}
    <span class="breadcrumbs"><a href="../../">Index</a> | <a href="../">Cypher List</a> | {{ cypher.name }}</span>
    <h1>{% block header_text %}Cypher: {{ cypher.name }}{% endblock %}</h1>
    <h2>Level Range: {{ cypher.level_range }}</h2>
    <div>{{ cypher.effect|linebreaks }}</div>
    <hr />
    <span class="breadcrumbs"><a href="../../">Index</a> | <a href="../">Cypher List</a> | {{ cypher.name }}</span>
{% endblock %}
