{% load static %}
<html>
    </head>
        <title>{% block title %}Cypher Core{% endblock %}: {% block subtitle %}Page{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="{% static 'cyphercore/css/normalize.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'cyphercore/css/skeleton.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'cyphercore/css/shared.css' %}" />
        {% block custom_css %}<link rel="stylesheet" type="text/css" href="{% static 'cyphercore/css/custom.css' %}" />{% endblock %}
        <link rel="icon" type="image/png" href="{% static 'cyphercore/images/favicon.png' %}" />
        <style>{% block pagestyles %}{% endblock %}</style>
    </head>
    <body>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
