{% extends "cyphercore/base.html" %}
{% block subtitle %}Abilities{% endblock %}
{% block content %}
    <span class="breadcrumbs"><a href="../">Index</a> | Ability List | <a href="cards">Ability Cards</span>
    <h1>{% block header_text %}Cypher Core: Abilities{% endblock %}</h1>
    <hr/>
    <ul>
        {% for ability in ability_list %}
        <li><a href="{{ ability.slug }}">{{ ability.name }}</a> ({{ ability.usage }}, Cost: {{ ability.cost }})</li>
        {% endfor %}
    </ul>
    <hr />
    <span class="breadcrumbs"><a href="../">Index</a> | Ability List | <a href="cards">Ability Cards</span>
{% endblock %}
