{% extends "cyphercore/base.html" %}
{% block subtitle %}{{ creature.name }}{% endblock %}
{% block pagestyles %}
    {% if not creature.portrait_link %}
        #picture-frame { display: none; }
    {% endif %}
{% endblock %}
{% block content %}
    <span class="breadcrumbs">
        <a href="../../">Index</a> | <a href="../">creature List</a> | {{ creature.name }}
    </span>
    <h1>{{ creature.name }} ({{ creature.level }}/{{ creature.target }})</h1>
    <hr />
    <!-- Creature Portrait & Description -->
    <section id="portrait-background" class="avoid-break">
        <div class="row">
            <div class="twelve columns">
                <a href="{{ creature.portrait_link }}">
                    <img class="creature-portrait"  id="picture-frame" src="{{ creature.portrait_link }}" />
                </a>
                <div class="indent">{{ creature.description|linebreaks }}</div>
            </div>
        </div>
        <hr />
    </section>
    <!-- Stats -->
    <section id="stats" class="avoid-break">
        <div>
            <p><strong>Motive:</strong> {{ creature.motive }}<br/>
            <strong>Environment:</strong> {{ creature.environment }}<br/>
            <strong>Health:</strong> {{ creature.health }}<br/>
            <strong>Damage Inflicted:</strong> {{ creature.damage_inflicted }}<br/>
            <strong>Armor:</strong> {{ creature.armor }}<br/>
            <strong>Movement:</strong> {{ creature.movement }}<br/>
        </div>
        <hr />
    </section>
    <!-- Details -->
    <section id="details">
        <div class="avoid-break">
            <h3>Modifications:</h3>
            <div class="indent">{{ creature.modifications|linebreaks }}</div>
        </div>
        <div class="avoid-break">
            <h3>Combat:</h3>
            <div class="indent">{{ creature.combat|linebreaks }}</div>
        </div>
        <div class="avoid-break">
            <h3>Interaction:</h3>
            <div class="indent">{{ creature.interaction|linebreaks }}</div>
        </div>
        <div class="avoid-break">
            <h3>Use:</h3>
            <div class="indent">{{ creature.use|linebreaks }}</div>
        </div>
        <div class="avoid-break">
            <h3>Loot:</h3>
            <div class="indent">{{ creature.loot|linebreaks }}</div>
        </div>
        <hr />
    </section>
    <span class="breadcrumbs">
        <a href="../../">Index</a> | <a href="../">creature List</a> | {{ creature.name }}
    </span>
{% endblock %}
