{% extends "cyphercore/base.html" %}
{% block subtitle %}Index{% endblock %}
{% block content %}
    <span class="breadcrumbs">Index</span>
    <h1>{% block header_text %}Cypher Core: Index{% endblock %}</h1>
    <ul>
        <li><a href="abilities/">Abilities</a></li>
        <li><a href="artifacts/">Artifacts</a></li>
        <!-- <li><a href="characters/">Characters</a></li> -->
        <li><a href="creatures/">Creatures</a></li>
        <li><a href="cyphers/">Cyphers</a></li>
        <li><a href="descriptors/">Descriptors</a></li>
        <li><a href="equipment/">Equipment</a></li>
        <li><a href="foci/">Foci</a></li>
        <li><a href="skills/">Skills</a></li>
        <li><a href="types/">Types</a></li>
    </ul>
    <hr />
    <span class="breadcrumbs"><a href="/admin/">Admin</a> | <a href="/">Change System</a></span>
{% endblock %}
