{% extends "cyphercore/base.html" %}
{% block subtitle %}{{ character.name }}{% endblock %}
{% block pagestyles %}
    {% if "summary" in request.path %}
    #portrait-background { display: none; }
    .stat-pools { display: none; }
    #other-stats { display: none; }
    #advancement { display: none; }
    #attacks { display: none; }
    #recovery-damage { display: none; }
    #equipment { display: none; }
    #cyphers { display: none; }
    #artifacts { display: none; }
    #recursion { break-before: avoid; page-break-before: avoid; }
    {% else %}
    .recursion { break-before: always; page-break-before: always; }
    {% endif %}
    {% if not character.portrait_link %}
    #picture-frame { display: none; }
    {% endif %}
{% endblock %}
{% block content %}
    {% if "summary" in request.path %}
    <span class="breadcrumbs"><a href="../../../">Index</a> | <a href="../../">Character List</a> | <a href="../../{{ character.slug }}/">{{ character.name }}</a> | Summary</span>
    {% else %}
    <span class="breadcrumbs"><a href="../../">Index</a> | <a href="../">Character List</a> | {{ character.name }} | <a href="../{{ character.slug }}/summary/">Summary</a></span>
    {% endif %}
    <h1>{{ character.name }}</h1>
    {% block character_sentence %}<p class="character-sentence"><strong>...is {{ character.descriptor.prefix }} {{ character.descriptor }} {{ character.type}} who {{ character.focus }}</strong></p>{% endblock %}
    <hr />
    <!-- Character Portrait & Background -->
    <section id="portrait-background" class="avoid-break">
        <div class="row">
            <div class="twelve columns">
                <a href="{{ character.portrait_link }}"><img class="character-portrait"  id="picture-frame" src="{{ character.portrait_link }}" /></a>
                <div class="indent">{{ character.background|linebreaks }}</div>
            </div>
        </div>
        <hr />
    </section>
    <!-- Stat Pools -->
    <section class="stat-pools" class="avoid-break">
        <div class="row">
            <div class="four columns">
                <strong>Might</strong>
            </div>
            <div class="four columns">
                <strong>Speed</strong>
            </div>
            <div class="four columns">
                <strong>Intellect</strong>
            </div>
        </div>
        <div class="row">
            <div class="two columns">
                Pool:
            </div>
            <div class="two columns">
                {{ character.might_pool }} ({{ character.might_current }}*)
            </div>
            <div class="two columns">
                Pool:
            </div>
            <div class="two columns">
                {{ character.speed_pool }} ({{ character.speed_current }}*)
            </div>
            <div class="two columns">
                Pool:
            </div>
            <div class="two columns">
                {{ character.intellect_pool }} ({{ character.intellect_current }}*)
            </div>
        </div>
        <div class="row">
            <div class="two columns">
                Edge:
            </div>
            <div class="two columns">
                {{ character.might_edge }}
            </div>
            <div class="two columns">
                Edge:
            </div>
            <div class="two columns">
                {{ character.speed_edge }}
            </div>
            <div class="two columns">
                Edge:
            </div>
            <div class="two columns">
                {{ character.intellect_edge }}
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                *Adjusted value based on Equipment and other factors
            </div>
        </div>
        <hr />
    </section>
    <!-- Other Stats -->
    <section id="other-stats" class="avoid-break">
        <div class="row">
            <div class="two columns">
                <strong>Cyper Limit:</strong>
            </div>
            <div class="two columns">
                {{ character.cypher_limit }}
            </div>
            <div class="two columns">
                <strong>Effort:</strong>
            </div>
            <div class="two columns">
                {{ character.effort }}
            </div>
            <div class="two columns">
                <strong>Tier:</strong>
            </div>
            <div class="two columns">
                {{ character.tier }}
            </div>
        </div>
        {% block recursable_stats %}
        <div class="row">
            <div class="two columns">
                <strong>Armor:</strong>
            </div>
            <div class="two columns">
                {{ character.armor }}
            </div>
            <div class="two columns">
                <strong>Money:</strong>
            </div>
            <div class="two columns">
                {{ character.money }}
            </div>
            <div class="two columns">
                <strong>XP:</strong>
            </div>
            <div class="two columns">
                {{ character.xp }}
            </div>
        </div>
        {% endblock %}
        <hr />
    </section>
    <!-- Recovery & Damage Track -->
    <section id="recovery-damage" class="avoid-break">
        <div class="row">
            <div class="two columns">
                <strong>Recovery:</strong>
            </div>
            <div class="two columns">
                1D6 + {{ character.recovery_roll }}
            </div>
            <div class="two columns">
                <span {% if character.one_action %}class="strikethrough"{% endif %}>1 Action</span>
            </div>
            <div class="two columns">
                <span {% if character.ten_minutes %}class="strikethrough"{% endif %}>10 Min</span>
            </div>
            <div class="two columns">
                <span {% if character.one_hour %}class="strikethrough"{% endif %}>1 Hr</span>
            </div>
            <div class="two columns">
                <span {% if character.ten_hours %}class="strikethrough"{% endif %}>10 Hr</span>
            </div>
        </div>
        <div class="row">
            <div class="two columns">
                <strong>Dmg. Track:</strong>
            </div>
            <div class="two columns">
                <span {% if character.impaired %}class="highlighted"{% endif %}>Impaired</span>
            </div>
            <div class="two columns">
                <span {% if character.debilitated %}class="highlighted"{% endif %}>Debilitated</span>
            </div>
        </div>
        <hr />
    </section>
    <!-- Attacks -->
    <section id="attacks" class="avoid-break">
        <h2>Attacks</h2>
        <div class="row">
        {% for item in character.attack_set.all %}
            {% block attack_item %}<span class="bubble-item">{{ item.name }} (Mod: {{ item.modifier }}, Dmg: {{ item.damage }})</span>{% endblock %}
        {% endfor %}
        </div>
        <hr />
    </section>
    <!-- Equipment -->
    <section id="equipment" class="avoid-break">
        <h2>Equipment</h2>
        <div class="row">
        {% for item in character.characterequipment_set.all %}
            {% block equipment_item %}<span class="bubble-item">{{ item.equipment.name }} ({{ item.quantity}}) <em>{{item.brief_note }}</em></span>{% endblock %}
        {% endfor %}
        </div>
        <hr />
    </section>
    <!-- Skills -->
    <section id="skills" class="avoid-break">
        <h2>Skills</h2>
        <div class="row">
        {% for item in character.characterskill_set.all %}
            {% block skill_item %}<span class="bubble-item skill-{{ item.skill_level}}">{{ item.skill.name }} ({{ item.skill_level}})</span>{% endblock %}
        {% endfor %}
        </div>
        <hr />
    </section>
    <!-- Base Abilities and Characteristics -->
    <section id="base-abilities" class="avoid-break">
        <h2>Base Abiliites &amp; Characteristics</h2>
        <div>
            <h3>Type:</h3>
            <div class="indent">{{ character.type.base_abilities|linebreaks }}</div>
            <h3>Descriptor:</h3>
            <div class="indent">{{ character.descriptor.characteristics|linebreaks }}</div>
            {% block focus_abilities %}
            <h3>Focus:</h3>
            <div class="indent">{{ character.focus.other_details|linebreaks }}</div>
            {% endblock %}
        </div>
        <hr />
    </section>
    <!-- Special Abilities -->
    <section id="special-abilities">
        <h2>Special Abilities</h2>
        <div class="row">
        {% for item in character.abilities.all %}
            <div class="avoid-break">
                <h3>{{ item.name }} ({{ item.usage }}; Cost: {{ item.cost }})</h3>
                <div class="indent">{{ item.description|linebreaks }}</div>
            </div>
        {% endfor %}
        </div>
        <hr />
    </section>
    <!-- Cyphers -->
    <section id="cyphers" class="avoid-break">
        <h2>Cyphers</h2>
        <div class="row">
        {% for item in character.charactercypher_set.all %}
            <div class="avoid-break">
                <h3>{{ item.cypher.name }} (Level {{ item.level }})</h3>
                <div class="indent">{{ item.appearance }} {{ item.cypher.effect }}</div>
            </div>
        {% endfor %}
        </div>
        <hr />
    </section>
    <!-- Artifacts -->
    <section id="artifacts" class="avoid-break">
        <h2>Artifacts</h2>
        <div class="row">
        {% for item in character.characterartifact_set.all %}
            <h3>{{ item.artifact.name }} (Level {{ item.level }}; Depletion: {{ item.artifact.depletion }})</h3>
            <div class="indent">
                {{ item.artifact.form }} {{ item.artifact.effect }}
            </div>
        {% endfor %}
        </div>
        <hr />
    </section>
    <!-- Notes -->
    <section id="notes" class="avoid-break">
        <div class="row">
            <h2>Notes</h2>
            <div class="indent">{{ character.notes|linebreaks }}</div>
        </div>
        <hr />
    </section>
    <!-- Advancement -->
    <section id="advancement" class="avoid-break">
        <h3>Advancement:</h3>
        <div class="row">
            <div class="two columns">
                <strong>Tier 1:</strong>
            </div>
            <div class="two columns">
                <span {% if character.tier_1_edge %}class="strikethrough"{% endif %}>Edge</span>
            </div>
            <div class="two columns">
                <span {% if character.tier_1_effort %}class="strikethrough"{% endif %}>Effort</span>
            </div>
            <div class="two columns">
                <span {% if character.tier_1_pools %}class="strikethrough"{% endif %}>Pools</span>
            </div>
            <div class="two columns">
                <span {% if character.tier_1_skills %}class="strikethrough"{% endif %}>Skills</span>
            </div>
            <div class="two columns">
                <span {% if character.tier_1_other %}class="strikethrough"{% endif %}>Other</span>
            </div>
        </div>
        {% if character.tier > 1 %}
        <div class="row">
            <div class="two columns">
                <strong>Tier 2:</strong>
            </div>
            <div class="two columns">
                <span {% if character.tier_2_edge %}class="strikethrough"{% endif %}>Edge</span>
            </div>
            <div class="two columns">
                <span {% if character.tier_2_effort %}class="strikethrough"{% endif %}>Effort</span>
            </div>
            <div class="two columns">
                <span {% if character.tier_2_pools %}class="strikethrough"{% endif %}>Pools</span>
            </div>
            <div class="two columns">
                <span {% if character.tier_2_skills %}class="strikethrough"{% endif %}>Skills</span>
            </div>
            <div class="two columns">
                <span {% if character.tier_2_other %}class="strikethrough"{% endif %}>Other</span>
            </div>
        </div>
        {% endif %}
        {% if character.tier > 2 %}
        <div class="row">
            <div class="two columns">
                <strong>Tier 3:</strong>
            </div>
            <div class="two columns">
                <span {% if character.tier_3_edge %}class="strikethrough"{% endif %}>Edge</span>
            </div>
            <div class="two columns">
                <span {% if character.tier_3_effort %}class="strikethrough"{% endif %}>Effort</span>
            </div>
            <div class="two columns">
                <span {% if character.tier_3_pools %}class="strikethrough"{% endif %}>Pools</span>
            </div>
            <div class="two columns">
                <span {% if character.tier_3_skills %}class="strikethrough"{% endif %}>Skills</span>
            </div>
            <div class="two columns">
                <span {% if character.tier_3_other %}class="strikethrough"{% endif %}>Other</span>
            </div>
        </div>
        {% endif %}
        {% if character.tier > 3 %}
        <div class="row">
            <div class="two columns">
                <strong>Tier 4:</strong>
            </div>
            <div class="two columns">
                <span {% if character.tier_4_edge %}class="strikethrough"{% endif %}>Edge</span>
            </div>
            <div class="two columns">
                <span {% if character.tier_4_effort %}class="strikethrough"{% endif %}>Effort</span>
            </div>
            <div class="two columns">
                <span {% if character.tier_4_pools %}class="strikethrough"{% endif %}>Pools</span>
            </div>
            <div class="two columns">
                <span {% if character.tier_4_skills %}class="strikethrough"{% endif %}>Skills</span>
            </div>
            <div class="two columns">
                <span {% if character.tier_4_other %}class="strikethrough"{% endif %}>Other</span>
            </div>
        </div>
        {% endif %}
        {% if character.tier > 4 %}
        <div class="row">
            <div class="two columns">
                <strong>Tier 5:</strong>
            </div>
            <div class="two columns">
                <span {% if character.tier_5_edge %}class="strikethrough"{% endif %}>Edge</span>
            </div>
            <div class="two columns">
                <span {% if character.tier_5_effort %}class="strikethrough"{% endif %}>Effort</span>
            </div>
            <div class="two columns">
                <span {% if character.tier_5_pools %}class="strikethrough"{% endif %}>Pools</span>
            </div>
            <div class="two columns">
                <span {% if character.tier_5_skills %}class="strikethrough"{% endif %}>Skills</span>
            </div>
            <div class="two columns">
                <span {% if character.tier_5_other %}class="strikethrough"{% endif %}>Other</span>
            </div>
        </div>
        {% endif %}
        {% if character.tier > 5 %}
        <div class="row">
            <div class="two columns">
                <strong>Tier 6:</strong>
            </div>
            <div class="two columns">
                <span {% if character.tier_6_edge %}class="strikethrough"{% endif %}>Edge</span>
            </div>
            <div class="two columns">
                <span {% if character.tier_6_effort %}class="strikethrough"{% endif %}>Effort</span>
            </div>
            <div class="two columns">
                <span {% if character.tier_6_pools %}class="strikethrough"{% endif %}>Pools</span>
            </div>
            <div class="two columns">
                <span {% if character.tier_6_skills %}class="strikethrough"{% endif %}>Skills</span>
            </div>
            <div class="two columns">
                <span {% if character.tier_6_other %}class="strikethrough"{% endif %}>Other</span>
            </div>
        </div>
        {% endif %}
        <hr />
    </section>
    {% block recursions %}
    {% endblock %}
    {% if "summary" in request.path %}
    <span class="breadcrumbs"><a href="../../../">Index</a> | <a href="../../">Character List</a> | <a href="../../{{ character.slug }}/">{{ character.name }}</a> | Summary</span>
    {% else %}
    <span class="breadcrumbs"><a href="../../">Index</a> | <a href="../">Character List</a> | {{ character.name }} | <a href="../{{ character.slug }}/summary/">Summary</a></span>
    {% endif %}
{% endblock %}
