{% extends "cyphercore/base.html" %}
{% block subtitle %}{{ player.name }}{% endblock %}
{% block content %}
<h1>{% block header_text %}Cypher Core{% endblock %}</h1>
<hr />
<h2 style="margin-top:1em;">Player: {{ player.name }} ({{ player.email }})</h2>
<h2 style="margin-top:.7em;">Characters</h2>
<ul>
    {% for item in player.character_set.all %}
        <li style="margin-top:.6em;">
            <a href="../character/{{ item.slug }}">{{ item.name }}
            {% block character_sentence %}is {{ item.descriptor.prefix}}
            {{ item.descriptor }}
            {{ item.type }} who {{ item.focus }}{% endblock %}
            (Campaign: {{ item.campaign }})</a>
        </li>
    {% endfor %}
</ul>
{% if player.campaign_set.all %}
<h2 style="margin-top:.7em;">Campaigns</h2>
<ul>
    {% for item in player.campaign_set.all %}
        <li style="margin-top:.6em;">
            <a href="../campaign/{{ item.slug }}">{{ item.name }}
        </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
