{% extends "cyphercore/base.html" %}
{% block subtitle %}Characters{% endblock %}
{% block content %}
    <span class="breadcrumbs"><a href="../">Index</a> | Character List</span>
    <h1>{% block header_text %}Cypher Core: Characters{% endblock %}</h1>
    <ul>
        {% for character in character_list %}
        <li><a href="{{ character.slug }}">{{ character.name }}</a> is {{ character.descriptor.prefix}} {{ character.descriptor }} {{ character.type }} who {{ character.focus }}</li>
        {% endfor %}
    </ul>
    <hr />
    <span class="breadcrumbs"><a href="../">Index</a> | Character List</span>
{% endblock %}
