{% extends "cyphercore/base.html" %}
{% block subtitle %}Cyphers{% endblock %}
{% block content %}
    <span class="breadcrumbs"><a href="../">Index</a> | Cypher List | <a href="cards">Cypher Cards</a></span>
    <h1>{% block header_text %}Cypher Core: Cyphers{% endblock %}</h1>
    <hr/>
    <ul>
        {% for cypher in cypher_list %}
        <li><a href="{{ cypher.slug }}">{{ cypher.name }}</a> (Level Range: {{ cypher.level_range }})</li>
        {% endfor %}
    </ul>
    <hr />
    <span class="breadcrumbs"><a href="../">Index</a> | Cypher List | <a href="cards">Cypher Cards</a></span>
{% endblock %}
