{% extends "cyphercore/base.html" %}
{% block subtitle %}Characters{% endblock %}
{% block content %}
    <span class="breadcrumbs"><a href="../">Index</a> | Player List</span>
    <h1>{% block header_text %}Cypher Core: Players{% endblock %}</h1>
    <ul>
        {% for player in player_list %}
        {% block player_item %}
        <li>
            <a href="{{ player.slug }}">{{ player.name }}</a>
        </li>
        {% endblock %}
        {% endfor %}
    </ul>
    <hr />
    <span class="breadcrumbs"><a href="../">Index</a> | Player List</span>
{% endblock %}
