{% extends "cyphercore/base.html" %}
{% block subtitle %}Create Character &mdash; Step One{% endblock %}
{% block content %}
<h1>{% block header_text %}Cypher System{% endblock %} &mdash; Create Character &mdash; Step One</h1>
<hr />
<p>
    <strong>Choose a Name, Descriptor, Type, and Focus for your new
    Character.</strong>
</p>
<p>You may also enter information on the Background of your character.</p>
<p>Then, click &ldquo;Next&rdquo;. Click &ldquo;Cancel&rdquo; if you don't
    want to create a new Character right now.</p>
<form class="form-list" method="post" action="">
    {{ form.as_p }}
    <p><input type="submit" value="Next"></p>
    <p><a href="/cyphercore/players/{{ player_slug }}">Cancel</a>
{% csrf_token %}
</form>
{% endblock %}
