{% load static %}
<html>
    </head>
        <title>Cyphercore &mdash; {{ focus.name }}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="{% static 'cyphercore/css/normalize.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'cyphercore/css/skeleton.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'cyphercore/css/custom.css' %}" />
        <link rel="icon" type="image/png" href="{% static 'cyphercore/images/favicon.png' %}" />
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <h1>{{ focus.name }}</h1>
                    <hr/>

                    <h2>Description</h2>
                    {{ focus.description|linebreaks }}
                    <hr/>

                    <h2>Connections</h2>
                    {{ focus.connections|linebreaks }}
                    <hr/>

                    <h2>Other Details</h2>
                    {{ focus.other_details|linebreaks }}
                    <hr/>

                    <h2>Abilities</h2>
                    {% for item in focus.focusability_set.all %}
                                <h3>Tier {{ item.tier }},
                                {{ item.ability.name }},
                                {{ item.ability.type }},
                                Cost: {{ item.ability.cost }}</h3>
                                {{ item.ability.description }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>
