{% load static %}
<html>
    </head>
        <title>Cypher Core: {{ type.name }}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="{% static 'cyphercore/css/normalize.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'cyphercore/css/skeleton.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'cyphercore/css/custom.css' %}" />
        <link rel="icon" type="image/png" href="{% static 'cyphercore/images/favicon.png' %}" />
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <a href="../../">Index</a> | <a href="../">Type List</a> | {{ type.name }}
                    <h1>Type: {{ type.name }}</h1>
                    <hr/>

                    <h2>Description</h2>
                    {{ type.description|linebreaks }}
                    <hr/>

                    <h2>Base Stats (+{{ type.pool_points }} Points to Spend)</h2>
                    <table>
                        <tr>
                            <td>Might Pool:</td>
                            <td>{{ type.might_pool }}</td>
                            <td>Might Edge:</td>
                            <td>{{ type.might_edge }}</td>
                        </tr>
                        <tr>
                            <td>Speed Pool:</td>
                            <td>{{ type.speed_pool }}</td>
                            <td>Speed Edge:</td>
                            <td>{{ type.speed_edge }}</td>
                        </tr>
                        <tr>
                            <td>Intellect Pool:</td>
                            <td>{{ type.intellect_pool }}</td>
                            <td>Intellect Edge:</td>
                            <td>{{ type.intellect_edge }}</td>
                        </tr>
                    </table>

                    <h2>Base Abiliites</h2>
                    {{ type.base_abilities|linebreaks }}
                    <hr/>

                    <h2>Available Abilities</h2>
                    {% for item in type.typeability_set.all %}
                        <h3>Tier {{ item.tier }},
                        {{ item.ability.name }},
                        {{ item.ability.usage }},
                        Cost: {{ item.ability.cost }}</h3>
                        <p>{{ item.ability.description|linebreaks }}</p>
                    {% endfor %}
                    <hr />
                    <a href="../../">Index</a> | <a href="../">Type List</a> | {{ type.name }}
                </div>
            </div>
        </div>
    </body>
</html>
