{% load static %}
<html>
    </head>
        <title>Cypher System</title>
        <meta charset="utf-8">
        <style>
            img.center {
                border: 1px solid darkgray;
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 30px;
            }
        </style>
    </head>
    <body>
        <a href="cyphercore/"><img src="{% static 'cyphercore/images/cyphersystem.jpg' %}" alt="Cyphercore" class="center" /></a>
    </body>
</html>
