{% load static %}
<html>
    </head>
        <title>Cypher System</title>
        <meta charset="utf-8">
        <style>
            hr {
                border-top: 1px solid #E1E1E1;
                width: 80%;
            }
            img.center {
                display: block;
                margin: 50px auto;
                max-width: 500px;
            }
        </style>
    </head>
    <body>
        <a href="cyphercore/"><img src="{% static 'cyphercore/images/logo.jpg' %}" alt="Cypher Core" class="center" /></a>
        <hr />
        <a href="numenera/"><img src="{% static 'numenera/images/logo.jpg' %}" alt="Numenera" class="center" /></a>
        <hr />
        <a href="strange/"><img src="{% static 'strange/images/logo.jpg' %}" alt="Strange" class="center" /></a>
    </body>
</html>
