{% extends "cyphercore/base_character_detail.html" %}
{% load static %}
{% block title %}The Strange{% endblock %}
{% block subtitle %}{{ character.name }}{% endblock %}
{% block custom_css %}<link rel="stylesheet" type="text/css" href="{% static 'strange/css/custom.css' %}" />{% endblock %}
{% block character_sentence %}<p class="character-sentence"><strong>...is {{ character.descriptor.prefix }} {{ character.descriptor }} {{ character.type}}</strong></p>{% endblock %}
{% block stat_pools_header %}
<div class="row">
    <div class="four columns">
        <strong>Base Might</strong>
    </div>
    <div class="four columns">
        <strong>Base Speed</strong>
    </div>
    <div class="four columns">
        <strong>Base Intellect</strong>
    </div>
</div>
{% endblock %}
{% block recursable_stats %}{% endblock %}
{% block focus_abilities %}{% endblock %}
{% block attacks_header %}<h2>Global Attacks</h2>{% endblock %}
{% block abilities_header %}<h2>Global Abilities</h2>{% endblock %}
{% block skills_header %}<h2>Global Skills</h2>{% endblock %}
{% block recursions %}
<!-- Character Recursions -->
<section id="recursions">
    {% for recursion in character.recursion_set.all %}
    <div class="recursion row">
        <h1>Recursion: {{ recursion.name }}</h1>
        <!-- Recursion Stat Pools -->
        <section class="stat-pools avoid-break">
            <div class="row">
                <div class="four columns">
                    <strong>Might</strong>
                </div>
                <div class="four columns">
                    <strong>Speed</strong>
                </div>
                <div class="four columns">
                    <strong>Intellect</strong>
                </div>
            </div>
            <div class="row">
                <div class="two columns">
                    Pool:
                </div>
                <div class="two columns">
                    {{ character.might_pool|add:recursion.might_pool_adjust }}
                </div>
                <div class="two columns">
                    Pool:
                </div>
                <div class="two columns">
                    {{ character.speed_pool|add:recursion.speed_pool_adjust }}
                </div>
                <div class="two columns">
                    Pool:
                </div>
                <div class="two columns">
                    {{ character.intellect_pool|add:recursion.intellect_pool_adjust }}
                </div>
            </div>
            <div class="row">
                <div class="two columns">
                    Edge:
                </div>
                <div class="two columns">
                    {{ character.might_edge|add:recursion.might_edge_adjust }}
                </div>
                <div class="two columns">
                    Edge:
                </div>
                <div class="two columns">
                    {{ character.speed_edge|add:recursion.speed_edge_adjust }}
                </div>
                <div class="two columns">
                    Edge:
                </div>
                <div class="two columns">
                    {{ character.intellect_edge|add:recursion.intellect_edge_adjust }}
                </div>
            </div>
            <hr />
            <!-- Recursion Other Stats -->
            <div class="row">
                <div class="two columns">
                    <strong>Armor:</strong>
                </div>
                <div class="two columns">
                    {{ recursion.armor }}
                </div>
                <div class="two columns">
                    <strong>Money:</strong>
                </div>
                <div class="two columns">
                    {{ recursion.money }}
                </div>
            </div>
            <hr />
        </div>
    </section>
    {% if recursion.recursionattack_set.all %}
    <section class="recursion-attacks" class="avoid-break">
        <h2>Attacks</h2>
        {% for item in recursion.recursionattack_set.all %}
            {% block attack_item %}<span class="bubble-item">{{ item.name }} (Mod: {{ item.modifier }}, Dmg: {{ item.damage }})</span>{% endblock %}
        {% endfor %}
        <hr />
    </section>
    {% endif %}
    {% if recursion.characterequipment_set.all %}
    <section class="recursion-equipment" class="avoid-break">
        <h2>Equipment</h2>
        {% for item in recursion.characterequipment_set.all %}
            <span class="bubble-item">{{ item.equipment.name }} ({{ item.quantity}}) <em>{{item.brief_note }}</em></span>
        {% endfor %}
        <hr />
    </section>
    {% endif %}
    {% if recursion.recursionskill_set.all %}
    <section class="recursion-skills" class="avoid-break">
        <h2>Skills</h2>
        {% for item in recursion.recursionskill_set.all %}
            <span class="bubble-item skill-{{ item.skill_level }}">{{ item.skill.name }} ({{ item.skill_level }})</span>
        {% endfor %}
        <hr />
    </section>
    {% endif %}
    <h2>Focus: {{ recursion.focus.name }}</h2>
    <div class="indent">{{ recursion.focus.other_details|linebreaks }}</div>
    <!-- Recursion Special Abilities -->
    <section class="recursion-special-abilities">
        <h2>Special Abilities</h2>
        {% for item in recursion.recursionability_set.all %}
        <div class="avoid-break">
            <h3>{{ item.ability.name }} ({{ item.ability.usage }}; Cost: {{ item.ability.cost }})</h3>
            <div class="indent">
                {{ item.ability.description|linebreaks }}
                {% if ability.note %}
                <em>{{ ability.note|linebreaks }}</em>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </section>
    {% if recursion.characterartifact_set.all %}
    <hr />
    <section class="recursion-artifacts" class="avoid-break">
        <h2>Artifacts</h2>
        {% for item in recursion.characterartifact_set.all %}
        <h3>{{ item.artifact.name }} (Level {{ item.level }}; Depletion: {{ item.artifact.depletion }})</h3>
        <div class="indent">
            {{ item.artifact.form }} {{ item.artifact.effect }}
        </div>
        {% endfor %}
    </section>
    {% endif %}
    <!-- Notes -->
    {% if recursion.notes %}
    <section class="recursion-notes" class="avoid-break">
        <h2>Notes</h2>
        <div class="indent">{{ recursion.notes|linebreaks }}</div>
    </section>
    {% endif %}
    <hr class="recursion-break" />
    {% endfor %}
</section>
{% endblock %}
