{% extends "cyphercore/base_character_detail.html" %}
{% load static %}
{% block title %}The Strange{% endblock %}
{% block subtitle %}{{ character.name }}{% endblock %}
{% block custom_css %}<link rel="stylesheet" type="text/css" href="{% static 'strange/css/custom.css' %}" />{% endblock %}
{% block recursable_stats %}{% endblock %}
{% block attack_item %}<span class="bubble-item">{{ item.name }} (Mod: {{ item.modifier }}, Dmg: {{ item.damage }}) <strong>{{ item.recursion.name|default:"---" }}</strong></span>{% endblock %}
{% block equipment_item %}<span class="bubble-item">{{ item.equipment.name }} ({{ item.quantity }}) <em>{{item.brief_note }}</em> <strong>{{ item.recursion.name|default:"---" }}</strong></span>{% endblock %}
{% block skill_item %}<span class="bubble-item skill-{{ item.skill_level}}">{{ item.skill.name }} ({{ item.skill_level}}) <strong>{{ item.recursion.name|default:"---" }}</strong></span>{% endblock %}
{% block recursions %}
<!-- Character Recursions -->
<section id="recursions">
    {% for item in character.recursion_set.all %}
    <div class="breakbefore row">
        <h1>Recursion: {{ item.name }}</h1>
        <!-- Recursion Stat Pools -->
        <section class="stat-pools avoid-break">
            <div class="row compact">
                <div class="four columns">
                    <strong>Might</strong>
                </div>
                <div class="four columns">
                    <strong>Speed</strong>
                </div>
                <div class="four columns">
                    <strong>Intellect</strong>
                </div>
            </div>
            <div class="row compact">
                <div class="two columns">
                    Pool:
                </div>
                <div class="two columns">
                    {{ character.might_pool|add:item.might_pool_adjust }} ({{ character.might_current|add:item.might_pool_adjust }}*)
                </div>
                <div class="two columns">
                    Pool:
                </div>
                <div class="two columns">
                    {{ character.speed_pool|add:item.speed_pool_adjust }} ({{ character.speed_current|add:item.speed_pool_adjust }}*)
                </div>
                <div class="two columns">
                    Pool:
                </div>
                <div class="two columns">
                    {{ character.intellect_pool|add:item.intellect_pool_adjust }} ({{ character.intellect_current|add:item.intellect_pool_adjust }}*)
                </div>
            </div>
            <div class="row compact">
                <div class="two columns">
                    Edge:
                </div>
                <div class="two columns">
                    {{ character.might_edge|add:item.might_edge_adjust }}
                </div>
                <div class="two columns">
                    Edge:
                </div>
                <div class="two columns">
                    {{ character.speed_edge|add:item.speed_edge_adjust }}
                </div>
                <div class="two columns">
                    Edge:
                </div>
                <div class="two columns">
                    {{ character.intellect_edge|add:item.intellect_edge_adjust }}
                </div>
            </div>
            <div class="row compact">
                <div class="twelve columns compact">
                    *Adjusted value based on Equipment and other factors
                </div>
            </div>
            <hr />
            <!-- Recursion Other Stats -->
            <div class="row compact">
                <div class="two columns">
                    <strong>Armor:</strong>
                </div>
                <div class="two columns">
                    {{ item.armor }}
                </div>
                <div class="two columns">
                    <strong>Money:</strong>
                </div>
                <div class="two columns">
                    {{ item.money }}
                </div>
            </div>
            <hr />
        </div>
    </section>
    <h2>Focus: {{ item.focus.name }}</h2>
    <div class="compact indent">{{ item.focus.other_details|linebreaks }}</div>
    <!-- Recursion Special Abilities -->
    <section class="recursion-special-abilities">
        <h2>Special Abilities</h2>
        <div class="row">
        {% for ability in item.abilities.all %}
            <div class="avoid-break">
                <h3>{{ ability.name }} ({{ ability.usage }}; Cost: {{ ability.cost }})</h3>
                <div class="compact indent">{{ ability.description|linebreaks }}</div>
            </div>
        {% endfor %}
        </div>
        <hr />
    </section>
    {% endfor %}
</section>
{% endblock %}
