body {
    font-size: 1.5em;
    line-height: 1.5;
    margin-top: 3rem;
}

h1 {
    font-size: 2.5rem;
    font-variant: small-caps;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
    font-variant: small-caps;
    font-weight: bold;
    line-height: 1;
    margin-bottom: .8rem;
}

h3 {
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: .3rem;
    margin-top: 1rem;
}

h4 {
    font-size: 1.6rem;
    line-height: 1;
}

h5 {
    font-size: 1.6rem;
    line-height: 1;
}

h6 {
    font-size: 1.6rem;
    line-height: 1;
}

a {
    color: #666;
}

a:hover {
    color: #aaa;
}

br {
    content: "";
    display: block;
    margin-bottom: .6rem;
}

hr {
    border-top: 1px solid #ccc;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
}

table, td, th, tr {
    break-inside: avoid;
    page-break-inside: avoid;
}

ul {
    padding-left: 2rem;
}

.breadcrumbs {
    display: block;
    font-size: 1.5rem;
    font-variant: small-caps;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.bubble-item {
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 3px;
    display: inline-block;
    line-height: 2.5rem;
    margin: .2rem;
    padding: 0 1rem;
}

.character-background {
    padding-right: 5%;
}

.character-portrait {
    border: solid 2px #000;
    border-radius: 4px;
    display: block;
    float: left;
    margin-right: 2.5rem;
    margin-top: .2rem;
    max-height: 30rem;
    max-width: 30rem;
}

.character-sentence {
    margin-top: -1rem;
}

.highlighted {
    color: #fff;
    background-color: #c51313;
}

.indent {
    padding: 0 5%;
}

.inability {
    font-style: italic;
}

.row-odd {
    background-color: #eee;
}

.skill-i {
    font-style: italic;
}

.skill-t {
}

.skill-s {
    font-weight: bold;
}

.strikethrough {
    text-decoration: line-through;
}

@media print {

    body {
        margin: 0;
        padding: 0;
    }

    h1, h2, h3, h4, h5, h6 {
        break-after: avoid;
        page-break-after: avoid;
    }

    html {
        font-size: 50%;
    }

    .avoid-break {
        break-inside: avoid;
        page-break-inside: avoid;
    }

    .breakbefore {
        break-before: always;
        page-break-before: always;
    }

    .breakafter {
        break-after: always;
        page-break-after: always;
    }

    .breadcrumbs {
        display: none;
    }

    .container {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .no-print {
        display: none;
    }
}

@media screen {

    .container {
        margin-bottom: 2em;
    }

}
